@model Common.Models.Models.ErrorModel

@{
    ViewBag.Title = $"{Model.Message} ({Model.ErrorList.Length} error)";
    Layout = "../Layouts/Default.cshtml";
}

<div id="error-site-panel" class="panel panel-default">
    <div class="panel-heading">
        @Model.Message
    </div>
    <div class="panel-body">
        <div>
            @foreach (var error in Model.ErrorList)
            {
                try
                {
                    var url = $"~/Views/Shared/Errors/{error}.cshtml";
                    @Html.Partial(url)
                }
                catch
                {
                    // Do nothing
                }
            }
        </div>
    </div>
</div>
