@{
    ViewBag.Title = "Site Maintenance";
    Layout = "../Layouts/Default.cshtml";
}

<div id="maintenance-panel" class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-wrench icon text-warning"></span>
        <span>@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <p>Site is currently undergoing maintenance. We'll be back shortly!</p>
    </div>
</div>
