<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="TestSetting" value="Test-Setting" />
  </appSettings>
  <connectionStrings>
    <add name="Test" providerName="System.Data.SqlClient"
         connectionString="Server=(local); Database=Test; Integrated Security=True;" />
  </connectionStrings>
</configuration>