@model Common.Models.Models.LoginModel

<div class="panel panel-info view-login">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        @Html.Partial("LoginPanel")
    </div>
</div>
